.media {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 5px;
    margin: 5px 0;
    background-color: #282c34;
    position: relative;
    font-family: "Montserrat", "sans-serif";
    border-radius: 5px;
}

@media (max-width: 550px) {
    .media {
        width: 46%;
    }
}
.PNotFound {
    text-align: center;
}
.title {
    width: 100%;
    text-align: center;
    font-size: 17px;
    padding: 8px 0;
    font-family: "Montserrat" , sans-serif;        
}

.subTitle {
    display: flex;
    justify-content: center;
    padding: 0 3px;
    margin-top: 0px;
    margin-bottom: 10px;
    text-transform: uppercase;
    

}